

<!-- begin page-header -->
<h1 class="page-header">{{ "UpdatePassword" | localize }}<small></small></h1>
<!-- end page-header -->

<!-- Update Password start-->
<div class="row">
  <div class="col-12">
    <panel>
        <ng-container header>
            <h4 class="panel-title">{{ "UpdatePassword" | localize }}</h4>
        </ng-container>
        <form novalidate (ngSubmit)="updatePassword(parentFormGroup.value)">
            <div [formGroup]="parentFormGroup">
                <div class="row  col-md">
                    <mat-form-field>
                        <input matInput class="form-control"  
                        id="currentPassword" type="password" 
                        name="CurrentPassword" formControlName="currentPassword"
                        [placeholder]="'Current Password' | localize"
                        required minlength="2" maxlength="32">
                    </mat-form-field>
                </div>


                <div class="row form-group col-md">
                    <div [formGroup]="passwordsFormGroup" formGroupName="passwords">
                        <mat-form-field>
                            <input matInput id="newPassword" formControlName="newPassword" type="password" name="NewPassword" 
                                [placeholder]="'New Password' | localize"
                                required minlength="2" maxlength="32"
                                />
                            <mat-error *ngIf="passwordsFormGroup.controls.newPassword.errors">
                                Passwords must be at least 8 characters, contain a lowercase, uppercase, and number
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                
                <div class="row form-group col-md">
                    <div  formGroupName="passwords">
                        <mat-form-field>
                            <input matInput id="repeatNewPassword" formControlName="repeatNewPassword" type="password" name="RepeatNewPassword" 
                                [placeholder]="'Confirm New Password' | localize" [errorStateMatcher]="equalMatcher"
                                required minlength="2" maxlength="32"
                                />
                            <mat-error *ngIf="passwordsFormGroup.errors &&
                                passwordsFormGroup.errors.areEqual &&
                                passwordsFormGroup.controls.newPassword.touched
                                ">
                                Passwords do not match
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                
            
                <div class="col-md-auto text-right p-r-15">
                    <button  type="submit" class="btn btn-green btn-lg" style="margin-top: 20px;" [disabled]="!parentFormGroup.valid || isLoading">
                        <i class="fas fa-lg fa-fw m-r-10 fa-save"></i>
                        <span> {{ "Save" | localize }}</span>
                    </button>
                </div>
            </div>
        </form>
    </panel>
  </div>
</div>
<!-- Update Password end -->


