<div class="login-cover">
  <div class="login-cover-image" [ngStyle]="{ 'background-image': 'url(' + this.bg + ')' }"></div>
  <div class="login-cover-bg"></div>
</div>

<!-- begin login -->
<div class="login login-v2" data-pageload-addclass="animated fadeIn">
  <!-- begin brand -->
  <div class="login-header">
    <div class="brand">
      <span class="logo"></span> <b>WinWinWhen</b>
      <small></small>
    </div>
    <div class="icon">
      <i class="fa fa-lock"></i>
    </div>
  </div>
  <!-- end brand -->
  <!-- begin login-content -->
  <div class="login-content">
    <form novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()">
      <div class="form-group m-b-20">
        <input type="text" name="userNameOrEmailAddress" [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" [placeholder]="'UserNameOrEmail' | localize"
          autocomplete="off" class="form-control form-control-lg" required maxlength="255" />
      </div>
      <div class="form-group m-b-20">
        <input type="password" class="form-control form-control-lg" name="password" [(ngModel)]="loginService.authenticateModel.password"
         [placeholder]="'Password' | localize" required maxlength="32"/>
      </div>
      <div class="checkbox checkbox-css m-b-20">
        <input type="checkbox" id="remember_checkbox" name="rememberMe" [(ngModel)]="loginService.rememberMe"/>
        <label for="remember_checkbox">
          {{ "RememberMe" | localize }}
        </label>
      </div>
      <div class="login-buttons">
        <button type="submit" [disabled]="!loginForm.form.valid || submitting" class="btn btn-success btn-block btn-lg">{{ "LogIn" | localize }}</button>
      </div>
      <div class="m-t-20">
        <!-- Not a member yet? Click <a href="javascript:;">here</a> to register. -->
        <a [routerLink]="['../register']">{{ "Register" | localize }}</a>
      </div>
    </form>
  </div>
  <!-- end login-content -->
</div>
<!-- end login -->

<ul class="login-bg-list clearfix">
  <li *ngFor="let list of bgList" [ngClass]="{ 'active': list.active }">
    <a href="javascript:;" (click)="changeBg(list)" [ngStyle]="{ 'background-image': 'url(' + list.bg + ')' }"></a>
  </li>
</ul>

